footer{
    background-color:#F2FFEC ;
}
.logo {
    display:flex;
    align-items: center;
}
.logo-link{
    display:flex;
    align-items: center;
    border-top: 1px solid #A3A3A3;
    .logo-brand{
    margin-left: auto;
    img{
        padding: 10px;
        background-color: #DCFFCA;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
    }
    }

}
